* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
}

body, h1, h2, nav, div, a {
    font-family: 'Arial', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem 2%;
    background-color: #000;
    border: 2px solid #ff0000; /* Red border to match the vibe */
    box-shadow: 0 0 10px 5px #ff6347; /* Glowing shadow effect */
    transition: transform 0.3s, box-shadow 0.3s;
}

.header-right {
    display: flex;
    align-items: center;
}

.navbar {
    display: block;
}

.navbar-nav {
    list-style-type: none;
    padding-left: 0;
    display: flex;
}

.nav-item {
    position: relative;
}

.nav-link {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.nav-item.dropdown .nav-link::after {
    content: ' ▼';
    font-size: smaller;
}

#logout-button {
    margin-left: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

#logout-button:hover {
    background-color: #0056b3;
}

.first_part, .latest-news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2rem); /* Adjust width to fit within margins */
    margin: 1rem auto; /* Center the sections */
    padding: 1rem;
    border: 2px solid #ff0000; /* Red border to match the vibe */
    box-shadow: 0 0 10px 5px #ff6347; /* Glowing shadow effect */
    transition: transform 0.3s, box-shadow 0.3s;
}

.first_part:hover, .latest-news-section:hover {
    transform: scale(1.02); /* Subtle enlarge on hover */
    box-shadow: 0 0 20px 10px #ff6347; /* Increase shadow effect on hover */
}

.first_part h2, .latest-news-section h2 {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 1rem 0;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #0000ff, 0 0 30px #ff0000; /* Flashy title */
    animation: colorFlash 5s infinite;
}

@keyframes colorFlash {
    0% { color: #00ff00; } /* Green */
    33% { color: #ff0000; } /* Red */
    66% { color: #0000ff; } /* Blue */
    100% { color: #00ff00; } /* Green */
}

.gpu-brands {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
}

.gpu-brand-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 40vh;
    margin: 0 10px;
    position: relative;
    background-size: cover; /* Ensure the background covers the entire div */
    background-position: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add some hover effects */
}

.gpu-brand-item img {
    max-width: 150px; /* Scale logos to fit within their containers */
    max-height: 150px;

    object-fit: contain;
}

#Nvidia {
    background-image: url('https://www.nvidia.com/content/dam/en-zz/Solutions/geforce/ada/rtx-4080/geforce-rtx-super-architecture-bm-xl770-d.jpg');
}

#AMD {
    background-image: url('https://www.amd.com/content/dam/amd/en/images/backgrounds/abstract/2613900-amd-computex-2024-gc.jpg'); 
}

#Intel {
    background-image: url('https://www.intel.com/content/dam/www/central-libraries/us/en/images/2023-08/adobestock-556454258.jpeg.rendition.intel.web.480.270.jpg'); 
}

.gpu-brand-item a {
    z-index: 10;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.gpu-brand-item:hover {
    transform: scale(1.02); /* Subtle enlarge on hover */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.latest-news-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    background-color: #ff4500; /* Flaming red background */
    color: white;
    border: 2px solid #ff0000; /* Red border to enhance the flaming effect */
    box-shadow: 0 0 10px 5px #ff6347; /* Add a glowing shadow effect */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; /* Add transition effects */
}

.latest-news-section:hover {
    transform: scale(1.02); /* Subtle enlarge on hover */
    box-shadow: 0 0 20px 10px #ff6347; /* Increase shadow effect on hover */
}

.latest-news-section h2 {
    color: yellow;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 10px #ff4500, 0 0 20px #ff6347, 0 0 30px #ff0000;
}

.news-item {
    background-color: transparent;
    padding: 1rem;
    border: 1px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
}

.news-item a {
    color: white;
    text-decoration: none;
    transition: color 0.3s, text-shadow 0.3s;
}

.news-item a:hover {
    color: yellow;
    text-shadow: 0 0 10px #ff4500, 0 0 20px #ff6347, 0 0 30px #ff0000;
}

.news-item:nth-of-type(odd) {
    background-color: rgba(255, 69, 0, 0.1); /* Light flaming red for odd items */
}

@media (max-width: 768px) {
    .menu-links {
        flex-direction: column;
        align-items: center;
    }

    .first_part h2, .latest-news-section h2 {
        font-size: 1.5rem;
    }

    .gpu-brands {
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .gpu-brand-item {
        width: 90%;
        padding-top: 10%;
        margin-bottom: 1rem;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .latest-news-section {
        grid-template-columns: 1fr;
    }
}

.moving-image {
    width: 100px; 
    height: 100px; 
    background-image: url("Images/4090.png");
    background-size: 100% 100%;
    background-position: center;
    position: fixed;
    animation: moveAndChange 5s infinite alternate;
}

@keyframes moveAndChange {
    0%, 100% {
        top: 0;
        left: 0;
        filter: hue-rotate(0deg);
    }
    25% {
        top: 0;
        left: calc(100vw - 100px); 
        filter: hue-rotate(90deg);
    }
    50% {
        top: calc(100vh - 100px); 
        left: calc(100vw - 100px);
        filter: hue-rotate(180deg);
    }
    75% {
        top: calc(100vh - 100px);
        left: 0; 
        filter: hue-rotate(270deg);
    }
}

/* Animation background code */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/GPU1.webp');
    background-size: cover;
    animation: shiftBackground 5s infinite;
    z-index: -1; /* Ensures the background is behind all content */
}

@keyframes shiftBackground {
    0% {
        background-image: url('Images/GPU1.webp');
    }
    25% {
        background-image: url('Images/GPU2.webp');
    }
    50% {
        background-image: url('Images/GPU3.webp');
    }
    75% {
        background-image: url('Images/GPU2.webp');
    }
    100% {
        background-image: url('Images/GPU1.webp');
    }
}

header, .first_part, .latest-news-section {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background for readability */
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
}
